<div class="cds--features-container">
  <div class="cds--features-header">
    <h2>{{ "systemFeatures.title" | transloco }}</h2>
    <div class="cds--features-decoration"></div>
  </div>

  <p class="cds--features-subtitle">
    {{ "systemFeatures.subtitle" | transloco }}
  </p>

  <div class="cds--features-grid">
    <div
      class="cds--feature-tile elevation-2"
      *ngFor="let feature of features"
      [ngClass]="feature.colorClass"
    >
      <div class="feature-icon-container">
        <i class="material-icons">{{ feature.icon }}</i>
      </div>
      <div class="feature-content">
        <h4>
          {{
            "systemFeatures.features." + feature.translationKey + ".title"
              | transloco
          }}
        </h4>
        <p>
          {{
            "systemFeatures.features." + feature.translationKey + ".description"
              | transloco
          }}
        </p>
      </div>
    </div>
  </div>
</div>
