<div class="cds--features-container">
  <div class="cds--grid">
    <div class="cds--row">
      <div
        class="cds--col-lg-12 cds--col-md-8 cds--col-sm-4 cds--features-header"
      >
        <h2>{{ "systemFeatures.title" | transloco }}</h2>
        <p class="cds--features-subtitle">
          {{ "systemFeatures.subtitle" | transloco }}
        </p>
      </div>
    </div>

    <div class="cds--row">
      <div class="cds--col-lg-14 cds--col-md-8 cds--col-sm-4">
        <ul class="cds--features-list">
          <li *ngFor="let feature of features">
            <mat-icon class="cds--feature-icon">{{ feature.icon }}</mat-icon>
            <div class="cds--feature-content">
              <h3>
                {{
                  "systemFeatures.features." + feature.translationKey + ".title"
                    | transloco
                }}
              </h3>
              <p>
                {{
                  "systemFeatures.features." +
                    feature.translationKey +
                    ".description" | transloco
                }}
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
