<div class="cds--create-user-container">
  <app-breadcrumb></app-breadcrumb>

  <div *ngIf="loading$ | async" class="cds--loading-progress">
    <div class="cds--loading-overlay"></div>
    <cds-loading withOverlay="false"></cds-loading>
  </div>

  <app-page-title
    titleTranslationKey="user.create.title"
    descriptionTranslationKey="user.create.description"
    icon="person_add"
  ></app-page-title>

  <div class="cds--content-area">
    <app-user-form
      [loading]="(loading$ | async) ?? false"
      [errors]="errors$ | async"
      (submitForm)="onSubmit($event)"
      (cancelForm)="onCancel()"
    ></app-user-form>
  </div>
</div>
 