<button
  type="button"
  [disabled]="disabled || loading"
  [class]="buttonClass + ' ' + colorClass"
  [ngClass]="sizeClass"
  [matTooltip]="tooltipText"
  [matTooltipPosition]="tooltipPosition"
  [matTooltipDisabled]="!tooltipText"
  [attr.aria-label]="ariaLabel || tooltipText"
  (click)="onClick($event)"
>
  <div class="button-content">
    <ng-container *ngIf="loading; else iconContent">
      <mat-spinner
        [diameter]="size === 'small' ? 18 : size === 'medium' ? 20 : 24"
        [color]="color"
      ></mat-spinner>
    </ng-container>

    <ng-template #iconContent>
      <p>
        <mat-icon>{{ icon }}</mat-icon>
      </p>
    </ng-template>
  </div>
</button>
