<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="password-form">
  <div class="form-content">
    <!-- New Password Field -->
    <mat-form-field appearance="outline">
      <mat-label>{{ "user.form.newPassword" | transloco }}</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="newPassword"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.['required']">
        {{ "user.form.errors.passwordRequired" | transloco }}
      </mat-error>
      <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.['minlength']">
        {{ "user.form.errors.passwordLength" | transloco }}
      </mat-error>
      <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.['pattern']">
        {{ "user.form.errors.passwordPattern" | transloco }}
      </mat-error>
    </mat-form-field>

    <!-- Confirm Password Field -->
    <mat-form-field appearance="outline">
      <mat-label>{{ "user.form.confirmPassword" | transloco }}</mat-label>
      <input
        matInput
        [type]="hideConfirmPassword ? 'password' : 'text'"
        formControlName="confirmPassword"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideConfirmPassword = !hideConfirmPassword"
      >
        <mat-icon>{{
          hideConfirmPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordForm.errors?.['passwordMismatch']">
        {{ "user.form.errors.passwordMismatch" | transloco }}
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Form Actions -->
  <div class="form-actions">
    <app-base-button
      variant="primary"
      icon="key"
      type="submit"
      size="large"
      [loading]="(loading$ | async) ?? false"
      [disabled]="passwordForm.invalid || ((loading$ | async) ?? false)"
    >
      {{ "user.form.resetPassword" | transloco }}
    </app-base-button>
  </div>
</form>
