<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="cds--form">
  <!-- Email Input -->
  <div class="cds--form-item">
    <cds-text-label
      [helperText]="'user.form.fields.email.helper' | transloco"
      [invalidText]="getEmailErrorText()"
      [invalid]="hasEmailError()"
    >
      {{ "user.form.email" | transloco }}
      <input
        cdsText
        [placeholder]="'user.form.email.placeholder' | transloco"
        formControlName="email"
        type="email"
        [invalid]="hasEmailError()"
      />
    </cds-text-label>
  </div>

  <!-- Ward Level Section -->
  <fieldset class="cds--ward-level-section">
    <cds-checkbox formControlName="isWardLevelUser" [hideLabel]="false">
      <span class="cds--ward-level-checkbox">
        {{ "user.form.isWardLevelUser" | transloco }}
      </span>
    </cds-checkbox>

    <div
      *ngIf="updateForm.get('isWardLevelUser')?.value"
      class="cds--ward-dropdown-wrapper"
    >
      <cds-dropdown
        formControlName="wardNumber"
        [placeholder]="'user.form.selectWard' | transloco"
        [label]="'user.form.wardNumber' | transloco"
        [helperText]="'user.form.wardHelp' | transloco"
        [invalid]="hasWardNumberError()"
        [invalidText]="'user.form.errors.wardNumberRequired' | transloco"
      >
        <cds-dropdown-list [items]="wardNumbers"></cds-dropdown-list>
      </cds-dropdown>
    </div>
  </fieldset>

  <!-- Error Display -->
  <div *ngIf="errors$ | async as error" class="cds--user-form-error">
    <div class="cds--inline-notification cds--inline-notification--error">
      <div class="cds--inline-notification__details">
        <mat-icon class="cds--inline-notification__icon">error</mat-icon>
        <div class="cds--inline-notification__text-wrapper">
          <div class="cds--inline-notification__title">
            {{ "user.form.error.title" | transloco }}
          </div>
          <div class="cds--inline-notification__subtitle">{{ error }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Form Actions -->
  <div class="cds--user-form-actions">
    <button
      *ngIf="updateForm.dirty"
      cdsButton="secondary"
      type="button"
      (click)="onCancel()"
      [disabled]="(loading$ | async) === true"
    >
      {{ "common.actions.cancel" | transloco }}
    </button>
    <button
      cdsButton
      type="submit"
      [disabled]="
        !updateForm.valid || !updateForm.dirty || (loading$ | async) === true
      "
    >
      <span class="cds--btn__icon">
        <mat-icon>save</mat-icon>
      </span>
      {{ "common.actions.save" | transloco }}
    </button>
  </div>
</form>
