<div class="search-section">
  <div class="search-box">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix class="search-icon">search</mat-icon>
      <input
        matInput
        [placeholder]="'user.list.search.placeholder' | transloco"
        [formControl]="searchControl"
        (keyup.escape)="clearSearch()"
        #searchInput
      />
      <button
        *ngIf="searchControl.value"
        matSuffix
        mat-icon-button
        (click)="clearSearch()"
        aria-label="Clear search"
        class="clear-button"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
