<div class="user-edit-container">
  <mat-progress-bar
    class="page-loading-bar"
    mode="indeterminate"
    *ngIf="loading$ | async"
  ></mat-progress-bar>

  <app-breadcrumb></app-breadcrumb>
  <app-page-title
    [titleTranslationKey]="'user.edit.title'"
    [descriptionTranslationKey]="'user.edit.description'"
    icon="manage_accounts"
  >
    <ng-template #actions>
      <app-base-button
        variant="secondary"
        icon="arrow_back"
        (click)="onBack()"
        size="medium"
      >
        {{ "common.actions.back" | transloco }}
      </app-base-button>
    </ng-template>
  </app-page-title>

  <div class="sections-container" *ngIf="user$ | async as user">
    <app-form-section
      icon="person"
      [title]="'user.edit.tabs.details' | transloco"
    >
      <app-update-user-details [user]="user"></app-update-user-details>
    </app-form-section>

    <app-form-section
      icon="password"
      [title]="'user.edit.tabs.password' | transloco"
    >
      <app-reset-password [user]="user"></app-reset-password>
    </app-form-section>

    <app-form-section
      icon="security"
      [title]="'user.edit.tabs.permissions' | transloco"
    >
      <app-user-permissions [user]="user"></app-user-permissions>
    </app-form-section>
  </div>

  <div
    class="no-user-message"
    *ngIf="
      ((user$ | async) === null || (user$ | async) === undefined) &&
      (loading$ | async) === false
    "
  >
    {{ "user.edit.userNotFound" | transloco }}
  </div>
</div>
