.forgot-password-form {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  mat-form-field {
    width: 100%;

    mat-icon {
      color: #546e7a;
    }
  }
}

.footer-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;

  button,
  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

@media (max-width: 480px) {
  .forgot-password-form {
    padding: 1.5rem;
  }
}
