<form [formGroup]="stepForm">
  <div class="step-header">
    <div class="step-icon">
      <mat-icon>how_to_reg</mat-icon>
    </div>
    <div class="step-intro">
      <h2>{{ "registration.stepTwo.title" | transloco }}</h2>
      <p>{{ "registration.stepTwo.subtitle" | transloco }}</p>
    </div>
  </div>

  <div class="form-fields">
    <div class="user-type-selection">
      <mat-error
        *ngIf="
          stepForm.get('userType')?.errors?.['required'] &&
          stepForm.get('userType')?.touched
        "
      >
        {{ "registration.stepTwo.errors.required" | transloco }}
      </mat-error>
      <mat-radio-group
        formControlName="userType"
        class="user-type-group"
        color="primary"
      >
        <mat-radio-button
          *ngFor="let type of userTypes"
          [value]="type"
          class="user-type-option"
        >
          {{ userTypeTranslationKeys[type] | transloco }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</form>
