<div
  class="cds--language-switcher"
  *ngIf="currentLanguage$ | async as currentLanguage"
>
  <div
    class="cds--language-switcher__toggle"
    (click)="
      switchLanguage(
        currentLanguage.code === 'en' ? languages[1] : languages[0]
      )
    "
    role="button"
    tabindex="0"
    [attr.aria-label]="
      'Switch to ' + (currentLanguage.code === 'en' ? 'नेपाली' : 'English')
    "
  >
    <div
      class="cds--language-switcher__toggle-track"
      [class.cds--language-switcher__toggle-track--nepali]="
        currentLanguage.code === 'ne'
      "
    >
      <div
        class="cds--language-switcher__option cds--language-switcher__option--english"
        [class.cds--language-switcher__option--active]="
          currentLanguage.code === 'en'
        "
      >
        <svg
          class="cds--icon"
          focusable="false"
          preserveAspectRatio="xMidYMid meet"
          aria-hidden="true"
          width="16"
          height="16"
          viewBox="0 0 32 32"
        >
          <path
            d="M16 2A14 14 0 1 0 30 16 14 14 0 0 0 16 2Zm-3.25 20.75a9.9 9.9 0 0 1-5.48-2A12.23 12.23 0 0 1 12 11.54a10.17 10.17 0 0 1 .75 4.21 10 10 0 0 1 0 7Zm10 0a9.94 9.94 0 0 1-8.5 0 11.56 11.56 0 0 0 0-13.5 9.94 9.94 0 0 1 8.5 0 11.56 11.56 0 0 0 0 13.5Zm1.73-2a9.9 9.9 0 0 1-5.48 2 10 10 0 0 1 0-7 10.17 10.17 0 0 1 .75-4.21 12.23 12.23 0 0 1 4.73 9.21Z"
            fill="currentColor"
          ></path>
        </svg>
        <span
          class="cds--type-body-compact-01 cds--language-switcher__label"
          data-full-name="English"
          data-short-name="EN"
        ></span>
      </div>
      <div
        class="cds--language-switcher__option cds--language-switcher__option--nepali"
        [class.cds--language-switcher__option--active]="
          currentLanguage.code === 'ne'
        "
      >
        <svg
          class="cds--icon"
          focusable="false"
          preserveAspectRatio="xMidYMid meet"
          aria-hidden="true"
          width="16"
          height="16"
          viewBox="0 0 32 32"
        >
          <path
            d="M27.34 28H30l-6-15h-3.26l-6 15h2.66l1.25-3.5h7.43zm-10.38-5.5 3.03-8.53 3.03 8.53zM12 10H7V2H5v8H0v2h5v8h2v-8h5z"
            fill="currentColor"
          ></path>
        </svg>
        <span
          class="cds--type-body-compact-01 cds--language-switcher__label"
          data-full-name="नेपाली"
          data-short-name="ने"
        ></span>
      </div>
      <div
        class="cds--language-switcher__slider"
        [class.cds--language-switcher__slider--nepali]="
          currentLanguage.code === 'ne'
        "
      ></div>
    </div>
  </div>
</div>
