<div class="filters-panel" *ngIf="show" @slideInOut>
  <div class="filters-grid" [formGroup]="filterForm">
    <!-- Ward Number -->
    <mat-form-field appearance="outline">
      <mat-select
        formControlName="wardNumber"
        placeholder="{{ 'user.list.filters.ward.label' | transloco }}"
      >
        <mat-option [value]="null">{{
          "user.list.filters.ward.all" | transloco
        }}</mat-option>
        <mat-option *ngFor="let number of wardNumbers" [value]="number">
          {{ formatWardNumber(number) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Permissions Multi-select -->
    <mat-form-field appearance="outline">
      <mat-select
        formControlName="permissions"
        multiple
        placeholder="{{ 'user.list.permissions' | transloco }}"
      >
        <mat-option
          *ngFor="let permission of permissionTypes"
          [value]="permission"
        >
          {{ "user.permissions." + permission + ".title" | transloco }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Approval Status -->
    <mat-form-field appearance="outline">
      <mat-select
        formControlName="isApproved"
        placeholder="{{ 'user.list.filters.approvalStatus.label' | transloco }}"
      >
        <mat-option [value]="null">{{
          "user.list.filters.approvalStatus.all" | transloco
        }}</mat-option>
        <mat-option [value]="true">{{
          "user.list.filters.approvalStatus.approved" | transloco
        }}</mat-option>
        <mat-option [value]="false">{{
          "user.list.filters.approvalStatus.pending" | transloco
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Date Range -->
    <div class="date-range">
      <mat-form-field appearance="outline">
        <input
          matInput
          [matDatepicker]="fromPicker"
          formControlName="createdAfter"
          readonly
          placeholder="{{ 'user.list.filters.dateRange.from' | transloco }}"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="fromPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
      </mat-form-field>

      <span class="date-separator">-</span>

      <mat-form-field appearance="outline">
        <input
          matInput
          [matDatepicker]="toPicker"
          formControlName="createdBefore"
          readonly
          placeholder="{{ 'user.list.filters.dateRange.to' | transloco }}"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="toPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>
