@use "@carbon/styles/scss/spacing" as spacing;
@use "@carbon/styles/scss/type" as type;
@use "@carbon/styles/scss/breakpoint" as breakpoint;
@use "@carbon/styles/scss/motion" as motion;

:host {
  display: flex;
  align-items: center;
}

// Responsive adjustments
@include breakpoint.breakpoint(sm) {
  .cds--language-selector {
    min-width: 70px;
  }
}
