<div class="sort-controls">
  <mat-form-field appearance="outline">
    <mat-select
      [formControl]="sortControl"
      (selectionChange)="onSortChange($event.value)"
      panelClass="filter-select-panel"
    >
      <mat-option *ngFor="let option of sortOptions" [value]="option.value">
        {{ option.label | transloco }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-icon-button
    class="direction-toggle"
    (click)="toggleDirection()"
    [matTooltip]="
      'user.list.sort.direction.' + currentDirection.toLowerCase() | transloco
    "
  >
    <mat-icon [class.flip]="currentDirection === 'ASC'">sort</mat-icon>
  </button>
</div>
