<form [formGroup]="stepForm">
  <div class="step-header">
    <div class="step-icon">
      <mat-icon>person_pin</mat-icon>
    </div>
    <div class="step-intro">
      <h2>{{ "registration.stepOne.title" | transloco }}</h2>
      <p>{{ "registration.stepOne.subtitle" | transloco }}</p>
    </div>
  </div>

  <div class="form-fields">
    <mat-form-field appearance="outline">
      <mat-label>{{
        "registration.stepOne.fields.fullName.label" | transloco
      }}</mat-label>
      <input matInput formControlName="fullName" />
      <mat-error *ngIf="stepForm.get('fullName')?.hasError('required')">
        {{ "registration.stepOne.fields.fullName.errors.required" | transloco }}
      </mat-error>
      <mat-error *ngIf="stepForm.get('fullName')?.hasError('minlength')">
        {{
          "registration.stepOne.fields.fullName.errors.minlength" | transloco
        }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{
        "registration.stepOne.fields.fullNameNepali.label" | transloco
      }}</mat-label>
      <input matInput formControlName="fullNameNepali" />
      <mat-error *ngIf="stepForm.get('fullNameNepali')?.hasError('required')">
        {{
          "registration.stepOne.fields.fullNameNepali.errors.required"
            | transloco
        }}
      </mat-error>
      <mat-error *ngIf="stepForm.get('fullNameNepali')?.hasError('nepaliName')">
        {{
          "registration.stepOne.fields.fullNameNepali.errors.nepaliName"
            | transloco
        }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{
        "registration.stepOne.fields.phoneNumber.label" | transloco
      }}</mat-label>
      <input matInput formControlName="phoneNumber" type="tel" />
      <mat-error *ngIf="stepForm.get('phoneNumber')?.hasError('required')">
        {{
          "registration.stepOne.fields.phoneNumber.errors.required" | transloco
        }}
      </mat-error>
      <mat-error *ngIf="stepForm.get('phoneNumber')?.hasError('nepaliPhone')">
        {{
          "registration.stepOne.fields.phoneNumber.errors.nepaliPhone"
            | transloco
        }}
      </mat-error>
    </mat-form-field>
  </div>
</form>
