<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
  <div class="dialog-content">
    <div
      class="dialog-icon"
      [ngClass]="{
        'warning-icon': data.isDestructive,
        'info-icon': icon === 'info',
        'question-icon': icon === 'help',
      }"
    >
      <mat-icon>{{ icon }}</mat-icon>
    </div>

    <div class="message-container">
      <p [innerHTML]="data.message"></p>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">
    {{ data.cancelButton }}
  </button>

  <button
    mat-raised-button
    [color]="data.isDestructive ? 'warn' : 'primary'"
    (click)="onConfirm()"
  >
    {{ data.confirmButton }}
  </button>
</mat-dialog-actions>
