<div class="cds--auth-container">
  <header class="cds--auth-header">
    <app-gov-branding></app-gov-branding>
  </header>

  <main class="cds--auth-content">
    <div class="cds--grid">
      <div class="cds--row" style="height: 100%">
        <div class="cds--col-lg-7 cds--auth-features">
          <app-system-features></app-system-features>
        </div>

        <div
          class="cds--col-lg-9 cds--col-md-8 cds--col-sm-4 cds--auth-form-container"
        >
          <div class="cds--auth-form-wrapper">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="cds--auth-footer">
    <div class="cds--grid">
      <div class="cds--row">
        <div class="cds--col">
          <p>{{ "system.footer.copyright" | transloco }}</p>
        </div>
      </div>
    </div>
  </footer>
</div>
