@use "@carbon/styles/scss/spacing" as *;
@use "@carbon/styles/scss/breakpoint" as *;
@use "@carbon/styles/scss/theme" as *;
@use "@carbon/styles/scss/motion" as *;

.cds--content {
  margin-top: 3rem;
  min-height: calc(100vh - 3rem);
  background: $background;
}

.cds--content-layout {
  display: flex;
  height: calc(100vh - 3rem);
  position: relative;

  &__content {
    flex: 1;
    overflow-y: auto;
    margin-left: 16rem;
    transition: margin-left $duration-moderate-01 motion(standard, productive);

    &--expanded {
      margin-left: 3rem;
    }
  }
}

// Mobile backdrop
.mobile-backdrop {
  display: none;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;

  &.show {
    display: block;
  }
}

@include breakpoint-down(md) {
  .cds--content-layout__content {
    margin-left: 0;
  }
}
