<nav
  class="breadcrumb"
  [class.compact]="isCompact"
  [class.icons-only]="showOnlyIcons"
  aria-label="Breadcrumb navigation"
>
  <ol class="desktop-breadcrumb">
    <ng-container
      *ngFor="let item of breadcrumbs; let last = last; let first = first"
    >
      <li>
        <a
          [routerLink]="[item.path]"
          [queryParams]="item.queryParams"
          class="breadcrumb-link"
          [class.active]="last"
          [attr.aria-current]="last ? 'page' : null"
          [matTooltip]="
            showOnlyIcons
              ? item.translationKey
                ? ('breadcrumbs.' + item.translationKey | transloco)
                : item.label
              : ''
          "
          [matTooltipDisabled]="!showOnlyIcons"
        >
          <p *ngIf="config.showIcons && item.icon">
            <mat-icon class="item-icon">
              {{ item.icon }}
            </mat-icon>
          </p>
          <span class="breadcrumb-text">
            {{
              item.translationKey
                ? ("breadcrumbs." + item.translationKey | transloco)
                : item.label
            }}
          </span>
        </a>
        <p *ngIf="!last">
          <mat-icon class="separator" aria-hidden="true">
            {{ config.separator }}
          </mat-icon>
        </p>
      </li>
    </ng-container>
  </ol>
</nav>
