<header class="cds--header" [ngClass]="{ 'cds--header--elevated': elevated }">
  <div class="cds--header__global">
    <a class="cds--header__name" routerLink="/">
      <div class="gov-logo-container">
        <img
          src="assets/images/nepal-government-logo.png"
          [alt]="'govBranding.logoAlt' | transloco"
          class="cds--header__logo"
        />
      </div>
      <div class="cds--header__title-container">
        <span class="cds--header__title">{{
          "govBranding.systemTitle" | transloco
        }}</span>
      </div>
    </a>

    <div class="cds--header__utils">
      <app-language-dropdown></app-language-dropdown>
    </div>
  </div>
  <div class="gov-header-decoration"></div>
</header>
