<header class="cds--header">
  <div class="cds--header__global">
    <a class="cds--header__name" routerLink="/">
      <img
        src="assets/images/nepal-government-logo.png"
        [alt]="'govBranding.logoAlt' | transloco"
        class="cds--header__logo"
      />
      <span class="cds--header__title">{{
        "govBranding.systemTitle" | transloco
      }}</span>
    </a>

    <div class="cds--header__nav-container">
      <app-language-dropdown></app-language-dropdown>
    </div>
  </div>
</header>
