:host {
  display: inline-block;
}

.language-button {
  color: rgba(0, 0, 0, 0.87);

  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }
}

::ng-deep {
  .language-menu {
    min-width: 200px !important;

    .mat-mdc-menu-item {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 48px;

      &.active {
        background: rgba(0, 0, 0, 0.04);
        font-weight: 500;
      }

      .mat-icon {
        margin: 0;
        width: 24px;
      }

      .secondary-text {
        margin-left: auto;
        font-size: 0.85em;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
