<div class="language-switcher">
  <button mat-button class="language-button" [matMenuTriggerFor]="menu">
    <div class="button-content">
      <mat-icon class="lang-icon">{{ currentLanguage.icon }}</mat-icon>
      <span class="language-code">{{ currentLanguage.code }}</span>
      <mat-icon class="chevron">expand_more</mat-icon>
    </div>
  </button>

  <mat-menu #menu="matMenu" class="language-menu">
    <button
      mat-menu-item
      *ngFor="let lang of languages"
      (click)="switchLanguage(lang)"
      [class.active]="currentLanguage.code === lang.code"
      class="language-option"
    >
      <mat-icon class="lang-icon">{{ lang.icon }}</mat-icon>
      <span class="name">{{ getLocalizedLocalName(lang) }}</span>
      <mat-icon *ngIf="currentLanguage.code === lang.code" class="check"
        >done</mat-icon
      >
    </button>
  </mat-menu>
</div>
